.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 20px;
}

.title {
  font-size: 40px;
  font-family: 'TTHakgyoansimKkokkomaR' ;
  text-align: center;
  margin-bottom: 1px;
  margin-top: 1px;
}

.sectionTitle {
  font-size: 32px;
  font-family: 'TTHakgyoansimKkokkomaR' ;
  margin-bottom: -10px;
  color: #c400a0;
  text-align: left;
}

.teamContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.memberCard {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 10px;
  margin-left: 10px;
}

.memberImage {
  width: 130px;
  height: 130px;
  border-radius: 20px;
  object-fit: cover;

}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.memberName {
  font-size: 28px;
  font-family: 'TTHakgyoansimKkokkomaR' ;  margin-bottom: 1px;
  color: #1d00b0;
}

.memberIntroduction {
  font-size: 20px;

  font-family: 'TTHakgyoansimKkokkomaR' ;  
  margin-bottom: -5px;
  color: #000000;
}

.memberDescription {
  font-size: 20px;
  font-family: 'TTHakgyoansimKkokkomaR' ;  
  margin-top: 10px;
  margin-bottom: -5px;
  color: #000000;
}

.memberTagline {
  font-size: 20px;
  font-family: 'TTHakgyoansimKkokkomaR' ;  
  color: #0d0d0d;
  background-color: rgb(216, 248, 222);
}
