/*font-family
font-family: "MaruBuri";
font-family: "NanumSquareNeoLight";
font-family: "NanumSquareNeo";
font-family: "NanumSquareNeoBold";
font-family: "BookkMyungjo-Bd";
font-family: "YoonChildfundkoreaManSeh";
font-family: "BMDOHYEON";
font-family: "hanna";
*/

.container {
  text-align: center;
  padding: 10px;
}

.title {
  font-family: "YoonChildfundkoreaManSeh";
  font-size: 40px;
}

.ment {
  font-family: "MaruBuri";
  font-size: 25px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.teamContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.memberCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: auto;
  background-color: #d3e4ff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.memberImage {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  margin-top: 20px;
}

.memberName {
  font-size: 1.1rem;
  font-family: "NanumSquareNeoBold";
  font-weight: bold;
  margin-bottom: 5px;
  color: #222;
}

.memberDescription {
  font-size: 1.1rem;
  font-family: "NanumSquareNeoLight";
  color: #282828;
  text-align: center;
  margin-bottom: 8px;
}

.memberIntroduction {
  font-size: 0.9rem;
  font-family: "NanumSquareNeo";
  color: #555;
  text-align: center;
  margin-bottom: -5px;
}

.memberTagline {
  font-size: 1rem;
  font-family: "YoonChildfundkoreaManSeh";
  color: #ff0e0e;
  text-align: center;
  margin-top: 10px;
}
