.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 24px;
  font-family: "NanumSquareNeo";
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.inputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.inputContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.textarea {
  font-family: "NanumSquareNeoLight";
  width: 90%;
  margin-right: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.addButton {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ffeaea;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.addButton:hover {
  background-color: #ccc;
}

.postList {
  list-style: none;
  padding: 0;
}

.postItem {
  font-family: "NanumSquareNeoLight";
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
}
