.title {
  font-size: 24px;
  color: #333;
}

.startButton {
  position: absolute;
  bottom: 5%;
  left: 10%;
  width: 50%;
  background-color: #ff6b6b;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
}

.startButton:hover {
  background-color: #ff4b4b;
}
