@font-face {
  font-family: "YoonChildfundkoreaManSeh";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408@1.0/YoonChildfundkoreaManSeh.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BMDOHYEON";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@import url("//fonts.googleapis.com/earlyaccess/hanna.css");

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.leftContainer {
  flex: 6;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffefe8;
  padding: 0;
  overflow: hidden;
}

.logoImage {
  width: 100%;
  border-radius: 15px;
  margin-left: 0;
}

.rightContainer {
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
  padding: 2rem;
}

.title {
  font-size: 60px;
  font-family: "hanna";
  color: #333;
  margin-bottom: -10px;
}

.description {
  font-size: 25px;
  line-height: 1.6;
  width: 90%;
  color: #2d2d2d;
  font-family: "YoonChildfundkoreaManSeh";
  margin-bottom: 100px;
  margin-top: 30px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.05);
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 300px;
}

.startButton {
  background-color: #ff5f5f;
  color: white;
  width: 100%;
  padding: 15px 20px;
  font-size: 1.2rem;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.startButton:hover {
  background-color: #ff3f3f;
  transform: scale(1.05);
}

.questionButton {
  background-color: white;
  color: #ff5f5f;
  border: 2px solid #ff5f5f;
  width: 100%;
  padding: 15px 20px;
  font-size: 1.2rem;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.questionButton:hover {
  background-color: #ff5f5f;
  color: white;
  transform: scale(1.05);
}
